{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="enterspecies.html">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">What species are you exporting?
      </h1>

      <div class="govuk-form-group">
        <label class="govuk-label" for="sort">
          How are the fish preserved?
        </label>
        <select class="govuk-select" id="preservation list" name="sort">
          <option value="published" selected>Select a preservation state</option>
          <option value="alive">Alive</option>
          <option value="boiled">Boiled</option>
          <option value="dried">Dried</option>
          <option value="fresh">Fresh</option>
          <option value="frozen">Frozen</option>
          <option value="salted">Salted</option>
          <option value="smoked">Smoked</option>
        </select>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="sort">
          How are the fish presented?
        </label>
        <select class="govuk-select" id="presentation list" name="sort">
          <option value="updated" selected>Select a presentation</option>
          <option value="claws">Claws</option>
          <option value="ICCAT">ICCAT value</option>
          <option value="filleted">Filleted</option>
          <option value="gutted">Gutted</option>
          <option value="headed">Headed</option>
          <option value="japanese cut">Japanese cut</option>
          <option value="lappen">Lappen</option>
          <option value="liver">Liver</option>
          <option value="other">Other</option>
          <option value="roe">Roe</option>
          <option value="skinnned">Skinned</option>
          <option value="surimi">Surimi</option>
          <option value="tail">Tail</option>
          <option value="tailed">Tailed</option>
          <option value="tongue">Tongue</option>
          <option value="tube only">Tube only</option>
          <option value="whole">Whole</option>
          <option value="wings">Wings</option>
        </select>
      </div>
  
      <br/>
      
        <a href="check-your-answersspecies.html" role="button" class="govuk-button">Continue</a>
      </form>

    </div>
  </div>

{% endblock %}
