{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="vessel.html">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Enter the transport details
      </h1>

      <div class="govuk-form-group">
        <label class="govuk-label" for="vessel-name">
          What is the place of departure
        </label>
        <span id="species-hint" class="govuk-hint">
          Enter a port or airport.
        </span>
        <input class="govuk-input govuk-input--width-10" id="vessel-name" name="vessel-name" type="text" aria-describedby="enter-a-vessel">
      </div>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-label">
              Select a type of transport
            </h1>
          </legend>
          <div class="govuk-radios" data-module="radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="how-contacted-conditional-1" name="how-contacted" type="radio" value="container" data-aria-controls="conditional-how-contacted-conditional-1">
              <label class="govuk-label govuk-radios__label" for="container">
                Container vessel
              </label>
            </div>
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio" value="plane" data-aria-controls="conditional-how-contacted-conditional-2">
              <label class="govuk-label govuk-radios__label" for="plane">
                Plane
              </label>
            </div>
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="how-contacted-conditional-3" name="how-contacted" type="radio" value="truck" data-aria-controls="conditional-how-contacted-conditional-3">
              <label class="govuk-label govuk-radios__label" for="truck">
                Truck/lorry
              </label>
            </div>
            
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="how-contacted-conditional-4" name="how-contacted" type="radio" value="tain" data-aria-controls="conditional-how-contacted-conditional-4">
        <label class="govuk-label govuk-radios__label" for="train">
          Train
        </label>
      </div>
      
    </fieldset>
    <br/>
        <a href="transportcontainer.html" role="button" class="govuk-button">Continue</a>
      </form>

    </div>
  </div>

{% endblock %}
